.button { position: absolute; bottom: 10px; right: 10px; z-index: 10; border: 0; background: #174bb5; color: white; padding: 12px 16px; border-radius: 10px; font-weight: 700; font-size: clamp(9px, .9vw, 13px); box-shadow: 0 3px 12px #174bb555; }
@media(max-width: 600px) { .button { padding: 8px; bottom: 5px; right: 5px; } }
